body{
  background: url(bg11.jpg);
  background-size: cover;
  font-family: Open Sans,sans-serif;
}

header{
  background: rgba(255,255,255,.1);
  box-sizing: border-box;
  padding: 10px 5px;
  color: #fff;
  font-size: 40px;
  font-weight: 600;
}

header h1{
  margin-left: 825px;
}

.container-signin{
  font-size: 30px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 600;
}

.container{
  position: absolute;
  top: 20%;
  left: 38%;
  text-align: center;
  box-sizing: border-box;
  background: rgba(255,255,255,.1);
  padding: 60px 50px;
}

.container-forminput,.container-forminput2{
  margin-bottom: 20px;
  padding: 10px 3px;
  border-radius: 25px;
  width: 100%;
  font-size: 20px;
  border: 1px solid #BFB8CC;
}

.container-forminput2:hover{
  background-color: palevioletred;
}

.container-form{
  display: grid;
}

hr{
  width: 150px;
  color: black;
}
.container-hr{
  display: flex;
  margin-bottom: 30px;
}
.container-or{
  font-size: 20px;
  color: #fff;
  background: transparent;
}
