body{
  background: url(bg11.jpg);
  background-size: cover;
  font-family: Open Sans,sans-serif;
}
.restaurant{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  color: #fff;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 20px;
  text-align: center;
  background-color: rgba(184, 9, 9, 0.1);
  margin-bottom: 20px;
}
.container-header{
  background: rgba(255,255,255,.1);
}
header h1{
  box-sizing: border-box;
  width: 95%;
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  padding: 10px 5px;
  float: left;
}

header input{
  box-sizing: border-box;
  width: 5%;
  background: green;
  color: #fff;
  font-size: 20px;
  border: 1px solid #BFB8CC;
  border-radius: 5px;
  padding: 5px 10px;
  float: left;
}

.container-user{
  background-color: chocolate;
  color: black;
  box-sizing: border-box;
  float: left;
  padding: 30px 50px;
  font-size: 30px;
  width: 30%;
  margin-right: 20px;
}
.container-userdetail, .container-usercart{
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}

.container-arrow{
  margin-right: 20px;
}

.container-delete{
  margin-left: 20px;
  visibility: hidden;
}

.cartitem-container:hover .container-delete{
  visibility: visible;
}

.container-userdetail h1, .container-usercart h1{
  margin-right: 20px;
}
.container-unorderedlist{
  display: grid;
}
.cartitem-container{
  display: flex;
  margin-bottom: 10px;
}

.cart-total{
  display: flex;
  margin-top: 20px;
}
.cart-total p{
  margin-right: 20px;
}

.placeorder, .cartpay{
  background-color: green;
  border: 1px solid #BFB8CC;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  padding: 5px 10px;
  width: 130px;
  box-sizing: border-box;
  position: relative;
  left: 20%;
}

.menu{
  background-color: rgba(255,255,255,.1);
  box-sizing: border-box;
  float: left;
  color: #fff;
  font-family: Open Sans,sans-serif;
  padding: 50px 60px;
  font-size: 30px;
  width: 67%;
}
.menu-heading{
  margin-top: 20px;
  font-weight: bolder;
  font-size: 35px;
  color: black;
}
.menu-title{
  margin-bottom: 20px;
  font-weight: bold;
  color: rgb(19, 17, 17);
}
.menu-item{
  display: flex;
  margin-bottom: 20px;
  height: 5%;
}
.menuitem-checkbox{
  box-sizing: border-box;
  margin-right: 20px;
  transform: scale(1.8);
  float: left;
}
.menu-name{
  box-sizing: border-box;
  float: left;
  width: 70%;
}
.menuitem-cost{
  box-sizing: border-box;
  float: left;
  width: 20%;
}
.menuitem-qty{
  box-sizing: border-box;
  float: left;
  font-size: 18px;
  width: 10%;
  height: 70%;
  padding: 0px 7px;
  margin-right: 20px;
}
.popup{
  box-sizing: border-box;
  float: left;
}
hr{
  color: black;
}
.menuitem-desc{
  box-sizing: border-box;
  float: left;
}

.popup-text{
  visibility: hidden;
  box-sizing: border-box;
  background-color: chocolate;
  color: #fff;
  padding: 20px 30px;
}

.order-detail{
  visibility: hidden;
  box-sizing: border-box;
  position: relative;
  font-size: 30px;
}
.order-head{
  margin-bottom: 20px;
  margin-top: 20px;
}
.order-menu{
  margin-bottom: 20px;
  display: flex;
}
.cart-total{
  margin-top: 20px;
  display: grid;
}
.total{
  margin-bottom: 20px;
}
.order-bill{
  box-sizing: border-box;
  position: sticky;
  left: 27%;
}
