<body>
  <article>
    <h1 class="TodoPage-title">
      My Todo-list
    </h1>
    <form class="AddTodo" action="/todos" method="POST">
      <input class="AddTodo-text" name="todo_text" type="text" placeholder="What's Next?">
      <input class="AddTodo-date" name="due_date" type="date">
      <input class="AddTodo-button" type="submit" value="Add">
    </form>
    <%= render partial: "todo-section", locals: {section_title: "overdue", todos: Todo.overdue, show_due_date: true} %>
    <%= render partial: "todo-section", locals: {section_title: "due today", todos: Todo.due_today, show_due_date: false} %>
    <%= render partial: "todo-section", locals: {section_title: "due later", todos: Todo.due_later, show_due_date: true} %>
  </article>
</body>
