.Home-title{
  font-size: 30px;
  margin-bottom: 20px;
}
.Home-authenticate{
  font-size: 20px;
  margin-bottom: 15px;
}
.User-header{
  font-size: 20px;
  background-color: lightgray;
  padding: 10px;
  margin-bottom: 20px;
}
