.Home-title{
  font-size: 30px;
  margin-bottom: 20px;
}
.Home-authenticate{
  font-size: 20px;
  margin-bottom: 15px;
}
.User-header{
  font-size: 20px;
  background-color: lightgray;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.Flash-error{
  color: #721c24;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 26px;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  border-radius: 4px;
  padding: 9px;
}
.Flash-notice{
  color: #155724;
  background-color: #d4edda;
  margin-bottom: 20px;
  font-size: 20px;
  border-color: #155724;
  border-radius: 4px;
  padding: 9px;
}
