body{
  font-family: Open Sans,sans-serif;
  max-width: 676px;
  margin: 0 auto;
  margin-top: 60px ;
  justify-content: center;
  display: flex;
}

.todopage-title{
  font-size: 40px;
  line-height: 1.6;
  color: #453C52;
  margin-bottom: 32px;
}

.todosection-title{
  font-size: 30px;
  line-height: 1.4;
  color: rgba(41, 36, 36, 0.945);
}
.TodoSectionTitle-RemainingCount{
  font-size: 24px;
  margin-left: 10px;
  line-height: 1.4;
  color: #726A7E;
  padding :4px;
}

.todosection{
  margin-bottom: 32px;
}
.TodoItem-Container{
  display: flex;
  font-size: 26px;
  align-items: stretch;
  margin-bottom: 36px;
  margin-left: 32px;
  color: rgba(41, 36, 36, 0.945);
}
.TodoItem-Checkbox{
  margin-right: 20px;
  transform: scale(1.8);
}
div{
  display: flex;
}
.date{
  padding: 6px 12px;
  font-size: 22px;
  color: #453c52;
  border: 1px solid #BFB8CC;
  border-radius: 4px;
  margin-right: 20px;
}
.i3{
  padding: 6px 12px;
  font-size: 22px;
  color: #453c52;
  border: 1px solid #BFB8CC;
  border-radius: 4px;
  margin-right: 20px;
}

.add-button{
  font-size: 22px;
  color: white;
  background-color: #48BB78;
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.Todo-UnorderedList{
  margin-top: 32px;
}
.TodoItem-Paragraph{
  margin-left: 20px;
  color: #C53030;
  margin-right: 20px;
}
.AddTodo{
  display: flex;
  height: 38px;
  align-items: stretch;
  margin-bottom: 32px;
}

.TodoItem-Date{
  margin-left: 15px;
  color: #726A7E;
}
