<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Todo-list</title>
  <link rel="stylesheet" type="text/css" href="reset.css">
  <link rel="stylesheet" type="text/css" href="my-app.css">
</head>

<body>
  <article>

    <h1 class="todopage-title">
      My Todo-list
    </h1>
    <section class="AddTodo">
      <input class="i3" type="text" placeholder="What's Next?">
      <input class="date" type="date">
      <input class="add-button" type="button" value="Add">
    </section>


    <section class="todosection">
      <div>
        <h2 class="todosection-title">
          Due Today
        </h2>
        <h2 class="TodoSectionTitle-RemainingCount">
          0/4
        </h2>
      </div>
      <ul class="Todo-UnorderedList">
        <li class="TodoItem">
          <div class="TodoItem-Container">
            <input class="TodoItem-Checkbox" type="checkbox">Submit SaaS 201 Project
            <p class="TodoItem-Paragraph">overdue</p>
            <img src="/home/valliyapan/todo_manager/public/delete.svg">
          </div>
        </li>
        <li class="TodoItem">
          <div class="TodoItem-Container">
            <input class="TodoItem-Checkbox" type="checkbox">Call Accountant
          </div>
        </li>
      </ul>
    </section>


    <section class="todosection">
      <div>
        <h2 class="todosection-title">
          Due Tommorow
        </h2>
        <h2 class="TodoSectionTitle-RemainingCount">0/3</h2>
      </div>
      <ul class="Todo-UnorderedList">
        <li>
          <div class="TodoItem-Container">
            <input class="TodoItem-Checkbox" type="checkbox">Refill Groceries
          </div>
        </li>
      </ul>
    </section>


    <section class="todosection">
      <div>
        <h2 class="todosection-title">
          Remaining
        </h2>
        <h2 class="TodoSectionTitle-RemainingCount">0/3</h2>
      </div>
      <ul class="Todo-UnorderedList">
        <li>
          <div class="TodoItem-Container">
            <input class="TodoItem-Checkbox" type="checkbox">Type Something
            <p class="TodoItem-Date">Jan 21</p>
          </div>
        </li>
        <li>
          <div class="TodoItem-Container">
            <input class="TodoItem-Checkbox" type="checkbox">Type Something
            <p class="TodoItem-Date">Jan 22</p>
          </div>
        </li>
        <li>
          <div class="TodoItem-Container">
            <input class="TodoItem-Checkbox" type="checkbox">Type Something
            <p class="TodoItem-Date">Jan 23</p>
          </div>
        </li>
      </ul>
    </section>
  </article>
</body>

</html>
